<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>admin
    </title>
    <script src="/js/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css"/>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div style="margin-left:10%; margin-right:5%;">
    <div class="page-header" sec:authorize="hasRole('ROLE_ADMIN')">
        <h4>欢迎来到管理员界面<small>你好管理员</small></h4>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="" class="thumbnail">
                <img src="/images/1.jpg" alt="..."/>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="" class="thumbnail">
                <img src="/images/2.jpg" alt="..."/>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="" class="thumbnail">
                <img src="/images/3.jpg" alt="..."/>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="" class="thumbnail">
                <img src="/images/4.jpg" alt="..."/>
            </a>
        </div>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">管理员</div>
        <div class="panel-body">
            <p>用户数据如下：</p>
        </div>

        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <td>用户名</td>
                <td>密码</td>
                <td>E-mail</td>
            </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>
</body>

</html>